<div>
    <h1>Select Your Game</h1>
    <div>
        <h2>Football</h2>
        <button id="footballBtn" class="btn">
        <img src="https://i.imgur.com/qYPhHZa.png" alt="football"  width="300" height="225">
        </button>
        <h2>Basketball</h2>
        <p class="coming-soon">Coming Soon</p>
        {{!-- <button id="basketballBtn" class="btn"> --}}
            <img src="https://i.imgur.com/chvsRnE.png" alt="basketball"  width="300" height="300">
        </button>

    </div>
</div>


  <script src="/js/homepage.js"></script>
  <script src="/js/game.js"></script>
