<div>
    <div>
        <h1>How to Play</h1>
            <div>
                <p>Sports Squares is a fun interactive application that lets you, the user, participate in the sports squares game. The game involves a grid divided into rows and columns, typically 10 by 10, resulting in 100 squares. One team is represented by the rows, and the other team is represented by columns. Squares can be purchased and users can select whatever squares they choose. Once all the squares are sold or when all players have purchased and selected squares to their liking. The game can begin!

Numbers ranging from 0 to 9 are randomly assigned to the rows and columns. Each row and column will have a unique combination of numbers.

At the end of each quarter the score of the game is matched to the corresponding numbers on the grid. For example, if at the end of the first quarter the home team has 7 points and the away team has 3 points, the square where the row is labeled "7" and the column is labeled "3" is the winning square for that quarter. This process is repeated for each quarter and sometimes for the final score as well.

Participants who have squares corresponding to the last digit of the scores for each quarter or the final score win the prizes. Prizes are typically awarded for each quarter, making multiple opportunities to win throughout the game. The largest prize is allotted for the final score.</p>
                
            </div>
    </div>
</div>

<script src="/js/howToPlay.js"></script>